In [61]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix
from sklearn.naive_bayes import MultinomialNB

# Bag-of-words model

It a machine learning algorythm, which extracts words from documents/ text and assigning each word a numberencial value. Any information about the order or structure of words in the document is discarded.

The model includes:  1. A vocabulary of known words. 2. A measure of the presence of known words.
 
# Naive Bayes
A Naive Bayes classifier is an algorithm that uses Bayes' theorem to classify data. Naive Bayes classifiers assume strong, or naive, independence between attributes of data points.

In [62]:
dforiginal = pd.read_csv('Assignment text mining - data clothing reviews.csv')
dforiginal = dforiginal.dropna()
dforiginal.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,1,0,General Petite,Bottoms,Pants
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,1,6,General,Tops,Blouses
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
6,6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,1,General Petite,Tops,Knits

# Filtering out all non-dress reviews

In [63]:
df = dforiginal.loc[(dforiginal['Class Name'] == 'Dresses')]
df.head()

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Recommended IND,Positive Feedback Count,Division Name,Department Name,Class Name
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,0,General,Dresses,Dresses
5,5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,0,4,General,Dresses,Dresses
8,8,1077,24,Flattering,I love this dress. i usually get an xs but it ...,5,1,0,General,Dresses,Dresses
9,9,1077,34,Such a fun dress!,"I'm 5""5' and 125 lbs. i ordered the s petite t...",5,1,0,General,Dresses,Dresses
10,10,1077,53,Dress looks like it's made of cheap material,Dress runs small esp where the zipper area run...,3,0,14,General,Dresses,Dresses

In [64]:
df['Rating'].value_counts()

5    2832
4    1213
3     737
2     408
1     181
Name: Rating, dtype: int64

Most dresses have 4 or 5 stars. Only around 3.4%.

# Text pre-processing steps resulting in a document-feature matrix

In [65]:
text = df['Review Text'].values.astype('U') #Taking the text from the df. We need to convert it to Unicode
vect = CountVectorizer(stop_words='english') #Create the CV object, with English stop words
vect = vect.fit(text) #We fit the model with the words from the review text
vect
feature_names = vect.get_feature_names() #Get the words from the vocabulary
print(f"There are {len(feature_names)} words in the vocabulary. A selection: {feature_names[500:590]}")

There are 7747 words in the vocabulary. A selection: ['allusion', 'allusione', 'almsot', 'alr', 'alright', 'als', 'altar', 'alter', 'alteration', 'alterations', 'altered', 'altering', 'alternate', 'alternations', 'alternative', 'althetic', 'altho', 'altogether', 'am5', 'amadi', 'amalfi', 'amaz', 'amaze', 'amazed', 'amazement', 'amazing', 'amazingly', 'amazon', 'amd', 'amenable', 'american', 'amking', 'amoret', 'amorphous', 'amp', 'ample', 'amsterdam', 'amterial', 'analogy', 'andrews', 'angel', 'angela', 'angle', 'angles', 'angora', 'animal', 'animals', 'anita', 'ankl', 'ankle', 'ankles', 'anna', 'annie', 'anniversary', 'annoyed', 'annoying', 'annoys', 'ans', 'answer', 'ansy', 'antebellum', 'antheropologie', 'anthletic', 'antho', 'anthopology', 'anti', 'anticipated', 'anticipating', 'anticipation', 'anticpated', 'antique', 'antrho', 'antrhopologie', 'antro', 'antropologie', 'anwen', 'anxious', 'anymore', 'anyou', 'anyt', 'anytime', 'anyw', 'anyways', 'aottern', 'apart', 'apex', 'aplique', 'app', 'appalled', 'apparel']

In [66]:
docu_feat = vect.transform(text) # make a matrix

print(docu_feat[0:90,0:90])

  (1, 7)	1
  (3, 71)	1
  (14, 78)	1
  (15, 37)	1
  (16, 3)	1
  (16, 44)	1
  (17, 11)	1
  (18, 54)	1
  (19, 39)	1
  (21, 59)	1
  (26, 11)	2
  (26, 58)	3
  (28, 84)	1
  (29, 30)	1
  (42, 71)	1
  (43, 0)	1
  (47, 58)	4
  (51, 11)	1
  (51, 58)	1
  (52, 71)	1
  (58, 44)	1
  (59, 81)	1
  (60, 11)	1
  (76, 69)	1
  (77, 11)	1
  (77, 58)	1
  (83, 44)	1
  (86, 24)	1

# Spliting the file into a training and a test set

In [67]:
nb = MultinomialNB() #create the model
X = docu_feat #the document-feature matrix is the X matrix
y = df['Rating'] #creating the y vector

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3) #split the data and store it

nb = nb.fit(X_train, y_train) #fit the model X=features, y=character

In [68]:
#Evaluate the model
y_test_p = nb.predict(X_test)
nb.score(X_test, y_test)

0.5645161290322581

The accuracy of the model is 59.6%.

In [69]:
# to see what the labels are
nb.classes_

array([1, 2, 3, 4, 5])

In [70]:
df['Rating'].value_counts(normalize=True)

5    0.527276
4    0.225842
3    0.137218
2    0.075964
1    0.033699
Name: Rating, dtype: float64

This shows: the higher the reviews the more likely the model is to predict it correctly.

In [71]:
cm = confusion_matrix(y_test, y_test_p)
cm = pd.DataFrame(cm, index=['1', '2', '3', '4', '5'], columns=['1 pred', '2 pred', '3 pred', '4 pred', '5 pred'])
cm

   1 pred  2 pred  3 pred  4 pred  5 pred
1       0       4      24      10      15
2       1       4      46      42      42
3       0       3      55      75      94
4       0       1      20     109     235
5       1       2       8      79     742

In [72]:
from sklearn.metrics import classification_report
print(classification_report(y_test, y_test_p, nb.classes_)) #this function needs the class names, which are in nb.classes_

              precision    recall  f1-score   support

           1       0.00      0.00      0.00        53
           2       0.29      0.03      0.05       135
           3       0.36      0.24      0.29       227
           4       0.35      0.30      0.32       365
           5       0.66      0.89      0.76       832

    accuracy                           0.56      1612
   macro avg       0.33      0.29      0.28      1612
weighted avg       0.49      0.56      0.51      1612

In [73]:
print(df.iloc[7,4])
print(nb.predict_proba(X[0]))

I love the look and feel of this tulle dress. i was looking for something different, but not over the top for new year's eve. i'm small chested and the top of this dress is form fitting for a flattering look. once i steamed the tulle, it was perfect! i ordered an xsp. length was perfect too.
[[7.30224147e-15 1.15257398e-09 9.99991322e-01 8.64500885e-06
  3.21488297e-08]]

In [74]:
for i in range(3):
    prob = nb.predict_proba(X[i])
    print(f"Review: {i}. {df.iloc[i,4]}")
    print(f"Actual star: {i}. {df.iloc[i,5]}")
    print(f"Star 1: {prob[0,0]}, Star 2: {prob[0,1]}, Star 3: {prob[0,2]}, Star 4: {prob[0,3]}, Star 5: {prob[0,4]}")

Review: 0. I had such high hopes for this dress and really wanted it to work for me. i initially ordered the petite small (my usual size) but i found this to be outrageously small. so small in fact that i could not zip it up! i reordered it in petite medium, which was just ok. overall, the top half was comfortable and fit nicely, but the bottom half had a very tight under layer and several somewhat cheap (net) over layers. imo, a major design flaw was the net over layer sewn directly into the zipper - it c
Actual star: 0. 3
Star 1: 7.302241470768207e-15, Star 2: 1.152573984026239e-09, Star 3: 0.9999913216897462, Star 4: 8.645008850030166e-06, Star 5: 3.2148829738903945e-08
Review: 1. I love tracy reese dresses, but this one is not for the very petite. i am just under 5 feet tall and usually wear a 0p in this brand. this dress was very pretty out of the package but its a lot of dress. the skirt is long and very full so it overwhelmed my small frame. not a stranger to alterations, shortening and narrowing the skirt would take away from the embellishment of the garment. i love the color and the idea of the style but it just did not work on me. i returned this dress.
Actual star: 1. 2
Star 1: 1.2529175411235984e-12, Star 2: 0.07820527845999213, Star 3: 0.01704542216985431, Star 4: 0.07525567425785687, Star 5: 0.8294936251110401
Review: 2. I love this dress. i usually get an xs but it runs a little snug in bust so i ordered up a size. very flattering and feminine with the usual retailer flair for style.
Actual star: 2. 5
Star 1: 7.340581870216177e-12, Star 2: 1.8146914616092854e-06, Star 3: 0.00013781902753626948, Star 4: 0.019595596699504916, Star 5: 0.9802647695741609

Assuming the predictiopn was more accurate the closer to 1 it was, the 2 out of 3 star reveiws would be predicted accurately. The second review has 2 stars but 3 and 3 stars have the lowest probability of being correct. This could be due to the review being overly positive about the things the user "loves". It has the highest probability of being a 5 star review instead of 2...